* {
  font-family: 'Jua', sans-serif;
}

body {
  background-color: #333;
}

#jumbotron {
  margin: 30px 0;
  text-align: center;
  background-color: #eee;
  padding: 50px;
  border-radius: 5px;
}

#review-button {
  width: 100%;
}
